AUTH_SECRET=6vLVMIlHOASNny1Lx4LGUg4JELb7H+xeodaiyt2CgTs= # Added by `npx auth`. Read more: https://cli.authjs.dev
GOOGLE_CLIENT_ID=251646224670-mdbldu67vbpjqho4tlk7ad89nj4fqidc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
MONGO_URI=mongodb+srv://talhatariq24603:123@cluster0.txc5n.mongodb.net/
RESEND_API_KEY=re_5jh7hbQ9_K6p8EyFgCdTyp6iKn5ajbFgG